/* HEADER */
header .inner .main-menu{
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 60px;
  padding: 0;
}
header .inner .main-menu li{
  flex-grow: 1;
}
header .inner .main-menu li a:hover{
  color: pink;
}

#badge {
  position: fixed;
  top: 150px;
  right: 12px;
}
#badge img {
  width: 200px;
  height: 200px;
}
header {
  width: 100%;
  background-color: #F6F5F0;
  border-bottom: 1px solid #c8c8c8;
  position: fixed;
  top: 0;
  z-index: 9;
}
header >.inner {
  height: 120px;
}
header .logo {
  height: 70px;
  position: absolute;
  top: -10px;
  right: 50px;
  margin: auto;
  border-radius: 10px;
  
}
#login{
  position: absolute;
  top: 17px;
  right: 120px;
}
header .inner h1 {
  padding-top: 10px;
  text-align: center;
}


/* VISUAL */
.visual {
  margin-top: 120px;
  background-image: url("../images/join.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.visual .inner{
  height: 646px;
}

/* VISUAL2 */

/* VISUAL3 */
